@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000;
  --text-color: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #c0c0c0;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}